/* Die Schriftart 'Audiowide' importieren */
@import url('https://fonts.googleapis.com/css?family=Audiowide');

*{    
    /* stern bedeutet select all; alle hmtl elemente bekommen dieses styling vorerst*/
    
    color: black;
    font-family: Audiowide;
    font-weight: 400;
    word-wrap: break-word;

    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

header{
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#wrapperHeader {
    /* Fügen Sie hier die Regeln für #wrapperHeader hinzu */

    display: flex;
    justify-content: center; 
    width: 100%;
  

    
    
}
.containerHeader {

    width: 30%;
    display: flex;
    justify-content: center; 

}


.header-title {
   
    text-align: center;
    font-size: 10px;
    
}

#buttonAbmelden {
   
    background: #E096C9;
    border-radius: 20px;
    border: 0; 
        /* rand um button entfernen */
}



#wrapperMain {
    /* Fügen Sie hier die Regeln für #wrapperMain hinzu */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
   
    align-items: flex-start;

}

#containerZug {
    width: 100%;
    height: 110px;
    
    background: #E0D9AD;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#containerZugLinie {

    width:100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



    
  


}


#linieZug {
    width: 75%;
    height: 0px;
  
    border: 1px black solid;
}

#mainIconZug {
    width: 30px;
    height: 30px;

    
    margin-right: auto;
    margin-left: 13%;  
        /* zug animieren mit % */

    
}

#überschriftSwipe {
    width: 100%;
    height: 30%;

    padding-top: 10%;
    
    text-align: center;
   
    font-size: 25px;

}


#infoZeit {

    width: 100%;
    height: 20%;

    
    text-align: center;
   


}

#containerSwipe{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#backgroundSwipe {
    width: 218px;
    height: 85px;
    
    background: #F0E8B9;
    border-radius: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#buttonSwipe {
    width: 77px;
    height: 77px;

    margin-right: auto;
    margin-left: 2%;  
                   /* mit % animierbar 2-98% */
    background: #97E096;
    border-radius: 9999px;
  }


  /* hier erstelle ich key-frames für swipe-animation */
  @keyframes swipeGoAnimation { 
    0% {
      margin-left: 2%;
    }
    100% {
      margin-left: 63%;
    }
  }


  @keyframes swipeStopAnimation {
    0% {
        margin-left: 63%;
      }
    100% {
      margin-left: 2%;
    }
    
  }


/* hier erstelle ich class die animation aufruft & parameter von animatoin definieren */
.swipeGo{
    animation-name:  swipeGoAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  
  }


.swipeStop{ 
    animation-name:  swipeStopAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

  
  }


  
 
  



#anweisungSwipe {
    width: 100%;
    height: 36px;
    
    text-align: center;
    color: black;
    font-size: 15px;
    padding-top: 5%;
  
}

#wrapperFooter {
    /* Fügen Sie hier die Regeln für #wrapperFooter hinzu */
    width: 100%; 
    height: 100%; 
    background: #E096C9;

    display: flex;
    justify-content: center;
    align-items: center;

    
}

.containerIcon{
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.containerIcon img {
    width: 45px;
    height: 45px;
   
}
