/* Die Schriftart 'Audiowide' importieren */
@import url('https://fonts.googleapis.com/css?family=Audiowide');

*{    
    /* stern bedeutet select all; alle HTML-Elemente bekommen dieses Styling vorerst */
    
    color: black;
    font-family: Audiowide;
    font-weight: 400;
    word-wrap: break-word;

    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

header{
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapperHeader {
    /* Fügen Sie hier die Regeln für #wrapperHeader hinzu */

    display: flex;
    justify-content: center; 
    width: 100%;
}

.containerHeader {
    width: 30%;
    display: flex;
    justify-content: center; 
}

.header-title {
    text-align: center;
    font-size: 10px;
}

#buttonAbmelden {
    background: #E096C9;
    border-radius: 20px;
}

#wrapperMain {
    /* Fügen Sie hier die Regeln für #wrapperMain hinzu */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#containerZug {
    width: 100%;
    height: 110px;
    background: #E0D9AD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#containerZugLinie {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#linieZug {
    width: 75%;
    height: 0px;
    border: 1px black solid;
}

#mainIconZug {
    width: 30px;
    height: 30px;
    margin-right: auto;
    margin-left: 13%;
}

/* Neue Regeln für das Icon */

.smallcontainerIcon img {
    width: 15px;
    height: 15px;
}
.rectangle-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rectangle {
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    background: #D9D9D9;
    margin: 20px;
    margin-bottom: 60px;

    position: relative; /* Relative Positionierung für das Elternelement (größeres Rechteck) */
}

.small-rectangle {
    position: absolute; /* Absolute Positionierung für das kleine Rechteck */
    top: 0;
    right: 0;
    width: 85px;
    height: 20px;
    background: #E096C9;
    display: flex; /* Elemente in horizontaler Zeile anordnen */
    align-items: center; /* Vertikal zentrieren */
    justify-content: flex-end; /* Rechts ausrichten */
}

#goodieDetail {
    font-size: 13px;
    margin-top: 130px;
}


#wrapperFooter {
    /* Fügen Sie hier die Regeln für #wrapperFooter hinzu */
    width: 100%; 
    height: 100%; 
    background: #E096C9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerIcon {
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerIcon img {
    width: 45px;
    height: 45px;
}


.button-container {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-left: 110px;
}

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    background: #E096C9;
    border: 2px solid #E096C9;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    transition: background 0.3s, color 0.3s;
}

.custom-button:hover {
    background: white;
    color: #E096C9;
}














